<div id="plugin_container" class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="#version#" >
<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</strong></a>
   	<span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span>

		<span title="Interroger le module" class="refresh tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_Refresh_id#" style="float: right">
			<a class="action" style="cursor: pointer;"><i class="fa fa-repeat" style="font-size : 1.0em;padding-right:10px"></i></a>
		<script>
		$('.refresh[data-cmd_id=#cmd_Refresh_id#] .action').on('click', function () {
			bootbox.confirm('Interroger #name# ?', function (result) {
				if (result) {
					jeedom.cmd.execute({id: '#cmd_Refresh_id#'});
				}
			});
		});
		</script>
	</span>    
</center>

<span class="cmd" data-type="action" data-subtype="other" data-cmd_id="#cmd_On_id#">
    <a class="btn btn-sm btn-default action cmdName tooltips" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#">#cmd_On_name#</a>
    <script>
        $('.cmd[data-cmd_id=#cmd_On_id#]:last .action').on('click', function () {
            jeedom.cmd.execute({id: '#cmd_On_id#'});
        });
    </script>
</span>

<span class="cmd" data-type="action" data-subtype="other" data-cmd_id="#cmd_Off_id#">
    <a class="btn btn-sm btn-default action cmdName tooltips" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#">#cmd_Off_name#</a>
    <script>
        $('.cmd[data-cmd_id=#cmd_Off_id#]:last .action').on('click', function () {
            jeedom.cmd.execute({id: '#cmd_Off_id#'});
        });
    </script>
</span>

</div>